#header{
    width:100%;
    height:auto;
}

.heading{
    color:#48A3FF;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    text-align:center;
}

#opening{
    display:none;
    position:fixed;
    z-index:1;
    padding-top:150px;
    width: 100%;
    height: 100%;
}

.openingContent{
    background-color:whitesmoke;
    margin:auto;
    padding:25px;
    border: 2px solid #315369;
    width:80%;
}

.close{
    color:#6C80AC;
    float:right;
    font-size:24px;
    font-weight: bold;
}

.close:hover{
    color:#A8BFC6;
    text-decoration: none;
    cursor:crosshair;
}

.welcomingText{
    color:black;
}

.centering{
    text-align: center;
}

.bgVideo{
    width:100%;
    height:auto;
}

.bgVideo video{
    width:100%;
}

.headerFigure img{
    width:100%;
    height:auto;
}

.headerGridWrapper{
    display:flex;
    position:absolute;
    background-image:linear-gradient(to top, rgba(0,0,0,1) 10%, rgba(255, 255, 255, 0) );
    width:100%;
    margin-top:-100%;
    padding-top:65%;
    padding-bottom:5%;
    justify-content: center;
}

.itemLogo{
    justify-self:center;
    grid-area: logo;
}

.itemTrailer{
    justify-self:center;
    grid-area: trailer;
}

.itemLearn{
    justify-self:center;
    grid-area: learn;
}

.itemUpdate{
    justify-self:center;
    grid-area: update;
}

.itemUpdate a{
    color:white;
}

.headerGrid{
    display:grid;
    grid-template-rows: auto;
    max-width:40vw;
    text-align:center;
    align-items:center;
    grid-template-areas: 
    "logo logo"
    "trailer learn"
    "update update";
}

.headerGridItem a{
    text-decoration: none;
}

.headerGridItem .navItem{
    padding:4vh 3vw;
}

.headerGrid .bg-red{
    background-color: rgb(41, 0, 0);
    color:white;
}
.headerGrid .bg-red:hover{
    background-color: black;
}

.headerFigure b{
    color:white;
    font-size:0.9em;
}