#header {
    width: 100%;
    height: auto;
    margin-top: 12vh;
    background-color: #08677E;
    color: white;
}

.centering {
    text-align: center;
}

.headerGridWrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding:40px;
}

.headerItemHero {
    grid-area: 1 / 1 / 4 / 6;
    font-size:1.5em;
}

.headerItemGopher {
    grid-area: 1 / 6 / 4 / 7;
}

.headerItemHero ul {
    list-style: none;
    padding-inline-start: 0px;
}
  
.headerItemHero ul li:before {
    content: '✓';
}

.buttonWrapper {
    display: flex;
}

.buttonGetStarted{
    padding:64px;
    background-color: #FDDD00;
    color: black;
    margin:32px;
    margin-left:0px;
    padding:32px 64px 32px 64px;
}

.buttonDownload {
    padding:32px 64px 32px 64px;
    margin:32px;
    margin-left:0px;
    color: white;
    border:1px solid white;
}