@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

@font-face {
    font-family: orokin;
    src: url(/Assets/Fonts/orokin.ttf);
}

:root {
    --font-color: #000;
    --bg-color: #fff;
    --link-color: #f1f1f1;
    --font-family: 'Roboto', sans-serif;
}

[data-theme="dark"] {
    --font-color: #fff;
    --bg-color: #000;
    --link-color: #010101;
    --font-family: 'Roboto', sans-serif;
}

[data-theme="orokin"] {
    --font-family: orokin;
}

html {
    scroll-behavior: smooth;
}

body{
    /* background: linear-gradient(-35deg, #d8ecff, whitesmoke,#c2c1ff); */
    background-color: var(--bg-color);
    margin:0;
    padding:0;
}

@keyframes gradient{
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 50% 100%;
    }
    100%{
        background-position: 0%, 50%
    }
}

p{
    color:var(--font-color);
    font-size:20px;
    font-family: --font-family;
    font-weight:400;
}

label{
    font-family: var(--font-family);
}

figcaption{
    font-family: var(--font-family);
}

.navItem{
    font-family: var(--font-family);
}

u{
    font-family: var(--font-family);
}

legend{
    font-family: var(--font-family);
}

li a {
    color:var(--link-color);
    font-family: var(--font-family);
    text-decoration: none;
}

.buttonAlertHello{
    margin-bottom:20px;
    width:300px;
    border-radius:10px;
    border:5px solid #6C80AC;
    background-color: #0A121A;
    color:#9FA3B5;
    transition: 0.3s;
}

.buttonAlertHello:hover{
    background-color:#9FA3B5;
    color:#0A121A
}

.foot{
    font-size: 12px;
    color:#6C80AC;
}