/*possibility*/

.possibilityFlex{
    display:flex;
}

.flexItem{
    margin:8px 40px;
}

.upperText{
    background-color: #2D2D2D;
}

.bottomText{
    background-color: #202224;
}

/*form*/

.centerItem{
    display:flex;
    justify-content: center;
    align-items : center;
    color: var(--font-color)
}

.noMarginPadding{
    margin:none;
    padding:none;
}

.paddingContent{
    padding-top:5vh;
    padding-bottom:5vh;
}

.itemInfo{
    grid-area:info;
    height:100%;
}

.itemInterest{
    grid-area:interest;
    height:100%;
}

.formGrid{
    display:grid;
    grid-gap: 4vw;
    margin:0;
    padding:0;
    grid-template-rows: auto;
    align-items:center;
    grid-template-areas: 
    "info interest";
}

#registering{
    background-color:var(--bg-color);
    color: var(--font-color);
}

#registering h2 {
    padding-top:8vh;
    padding-bottom:0;
}

#wrapperForm{
    padding-bottom:10vh;
}

.btnSubmit{
    width:100%;
    border: 2px solid var(--font-color);
    background-color:var(--bg-color);
    color: var(--font-color);
    margin-top:4vh;
    padding:10px;
    border-radius: 5px;    
}

.fieldWidth{
    text-align:center;
    color:var(--font-color);
}

.inputWidth{
    width:40vw;
    text-align:center;
    height:5vh;
    font-size: 1.2rem;
    margin-bottom: 16px;
}

.textareaWidth{
    width:80%;
    text-align:center;
    font-size: 1.25rem;
}

.fieldWidth label{
    font-size: 1.35rem;
}

.fieldWidth label {
    margin-bottom:8px;
}

/*random*/

.warframeItem{
    align-items: center;
}

.labelFlex{
    display:inline-flex;
    justify-content: space-around;
    width:50%;
}

.labelFlexItem{
    display:flex;
    flex-direction: column;
}

.w-100{
    width:100%;
    display: flex;
    align-items: center;
    justify-content:space-evenly
}

figcaption{
    color:black;
    margin-bottom:0px;
    width:100%;
    font-size: 1.2em;
}
