/*news*/

figure{
    margin:5px;
}

.newsGridWrapper{
    margin:5%;
}

.itemKullervo{
    grid-area: kullervo;
}

.itemGiveaway{
    grid-area: giveaway;
}

.itemResurgence{
    grid-area: resurgence;
}

.newsGrid{
    display:grid;
    margin:0;
    padding:0;
    grid-template-rows: auto;
    align-items:center;
    grid-template-areas: 
    "kullervo kullervo"
    "kullervo kullervo"
    "giveaway resurgence";
}

.figNews img{
    width: 100%;
    background-color:black;
}

.figNews{
    position:relative;
}

.figNews figcaption{
    position:absolute;
    bottom:10%;
    left:5%;
    color:white;
    font-weight: 500;
    font-size: 1.1rem;
    text-shadow: 1px 1px black;
    width:90%;
}

.figNews figcaption b{
    font-weight:800;
    margin: 5px 0;
}

/*form*/

.centerItem{
    display:flex;
    justify-content: center;
    align-items : center;
}

.noMarginPadding{
    margin:none;
    padding:none;
}

.paddingContent{
    padding-top:5vh;
    padding-bottom:5vh;
}

#wrapperForm{
    background-color:black;
    color: white;
    padding-top:10vh;
}

.itemForm{
    padding:none;
    margin:10px 0;
    color:white;
}

.btnSubmit{
    width:100%;
    border: 2px solid white;
    background-color: black;
    color:white;
    margin-top:10px;
    padding:10px;
    border-radius: 5px;    
}

.fieldWidth{
    width:50vw;
    text-align:center;
    color:bisque
}

.inputWidth{
    width:40vw;
    text-align:center;
    height:5vh;
    font-size: 1.2rem;
}

.textareaWidth{
    width:40vw;
    text-align:center;
    font-size: 1.25rem;
}

.fieldWidth label{
    font-size: 1.35rem;
}

.warframeItem{
    align-items: center;
}

.labelFlex{
    display:inline-flex;
    justify-content: space-around;
    width:50%;
}

.labelFlexItem{
    display:flex;
    flex-direction: column;
}

.w-100{
    width:100%;
}

figcaption{
    color:black;
    margin-bottom:0px;
    width:100%;
    font-size: 1.2em;
}
