@media only screen and (min-width:426px){   
    #burgerMenu{
        display:block !important;
    }
}

@media only screen and (max-width:1024px){
    .navbarIcon{
        width:30%;
        margin-top:1%;
    }
    .navbarIconImage{
        width:100%;
        margin-top: 5%;
    }
    main{
        margin-top:10%;
    }
}

@media only screen and (max-width:768px){
    .navbarIcon{
        margin-top:2.5%;
    }

    .newsGrid{
        margin-top:20%;
        grid-template-areas: 
        "kullervo"
        "giveaway"
        "resurgence";
    }
    .headerFigure b{
        font-size:0.8em;
    }
    .figNews figcaption{
        text-shadow: 1px 2px black;
    }
}

@media only screen and (max-width: 425px) {
    .navbar{
        position:sticky;
        display:flex;
        justify-content: space-between;
    }
    .navbarIconImage{
        height:2rem;
        margin-top:2vh;
    }
    .navItem{
        width:75vw;
        float:none;
    }
    .navbarIcon{
        display:none !important;
    }
    #burgerMenu{
        display:none;
    }
    .burger{
        display:inline;
    }
    .noCircle{
        overflow:initial;
        padding-right:9vw;
        position:fixed;
        margin:0;
        margin-top:10vh;
    }
    .noCircle .navbarIcon img{
        margin-top:0;
        width:100%;
    }
    .noCircle li label .hideText{
        display:inline;
        margin-right: 5vw;
    }
    .burgerIcon{
        display:inline;
    }
    #burgerMenu{
        display:none;
    }
    .scroll-container {
        display:flex;
        overflow: auto;
        white-space: nowrap;
        padding: 10px;
    }

    /*header*/


    /* main */
    main {
        margin-top:80%;
    }

    /*form*/
    .formGrid{
        display:flex;
        flex-direction: column;
    }
    .fieldWidth{
        width:80vw;
    }
    fieldset{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    fieldset br{
        display:block;
        content:"";
        margin-top: 0;
    }
    .inputWidth{
        width:100%;
    }
    .textareaWidth{
        width:100%;
    }
}