@media only screen and (min-width:426px){   
    #burgerMenu{
        display:block !important;
    }
}

@media only screen and (max-width:1024px){
    .navbarIcon{
        width:30%;
    }
    .navbarIconImage{
        width:100%;
        margin-top: 5%;
    }
}

@media only screen and (max-width:768px){
    .navbarIconImage{
        margin-top: 10%
    }
    .newsGrid{
        margin-top:20%;
        grid-template-areas: 
        "kullervo"
        "giveaway"
        "resurgence";
    }
    .headerFigure b{
        font-size:0.8em;
    }
    .figNews figcaption{
        text-shadow: 1px 2px black;
    }
}

@media only screen and (max-width: 425px) {
    .navbar{
        height:10vh;
    }
    .navbarIcon {
        height:auto;
        display:contents;
    }
    .navbarIconImage{
        width:75%;
        margin:0px;
    }
    .navItem{
        width:75vw;
        float:none;
    }
    .navbarIcon{
        display:none !important;
    }
    #burgerMenu{
        display:none;
    }
    .burger{
        display:inline;
    }
    .fieldWidth{
        width:auto;
    }
    fieldset{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .inputWidth{
        width:100%;
    }
    .textareaWidth{
        width:100%;
    }
    .imgBanner{
        height:250px;
    }
    #warframes{
        height:50vh;
    }
    .noCircle{
        overflow:initial;
        padding-right:9vw;
        position:fixed;
        margin:0;
    }
    .burgerIcon{
        display:inline;
    }
    #burgerMenu{
        display:none;
    }

    .warframesContainer{
        display:flex;
    }
    .scroll-container {
        display:flex;
        overflow: auto;
        white-space: nowrap;
        padding: 10px;
    }

    /*header*/
    #header{
        margin-top:5vh;
    }
    .headerGridWrapper{
        padding-left:0;
        margin-top:-120%;
        background-image:linear-gradient(to top, rgba(0,0,0,1) 45%, rgba(255, 255, 255, 0) );
    }
    .headerGrid{
        margin-top:15vh;
        max-width:100vw;
        grid-template-areas: 
        "logo logo"
        "trailer trailer" 
        "learn learn"
        "update update";
    }
    .headerGridItem .navItem{
        padding:2vh 5vw;
        width:80%;
    }

    /* main */
    main {
        margin-top:110%;
    }
    #warframes{
        background-image: url("/Assets/Images/prime-access-bg.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        height:100%;
    }
}