.navbar{
    font-size:20px;
    overflow:hidden;
    width:100vw;
    position:fixed;
    top:0;
    left:0;
    background-color: var(--bg-color);
    z-index:3;
}

.navItem{
    display:block;
    color:var(--font-color);
    background-color: var(--bg-color);
    border:1px solid var(--font-color);
    position:relative;
    margin:20px 10px;
    padding:5px;
    width:10vw;
    height:100%;
    transition: 0.3s;
    text-align: center;
}

.navItemVanilla{
    display:block;
    color:var(--font-color);
    background-color: var(--bg-color);
    position:relative;
    margin:20px 10px;
    padding:5px;
    width:auto;
    height:100%;
    transition: 0.3s;
}

.navItem:after{
    position:absolute;
    bottom: 0%;
    left:0;
    width:0;
    height:100%;
    background: rgba(68, 68, 68, 0.3);
    display:block;
    content:'';
    transition: width 0.2s ease-in-out;
}

.navItem:hover{
    color:var(--bg-color);
    background-color:var(--font-color);
    transition: 0.5s ease-in;
}

.navItem:hover:after{
    width:100%;
}

.navActive{
    color:var(--bg-color);
    background-color: var(--font-color);
    border-radius: 7px;
    border: 2px solid var(--font-color) ;
    padding:5px;
}

.noCircle{
    display:inline;
    list-style-type: none;
    background-color:var(--bg-color);
    margin:0 10px;
    vertical-align:middle;
}

.burger{
    display:none;
    border:1px solid var(--font-color);
    position:relative;
    align-items: center;
    margin:10px;
    padding:5px;
    width:12vw;
    float:right;
    text-align: center;
}

.burgerIcon{
    display:none;
}

#burgerMenu{
    display:inline;
}

.noCircle li{
    display: inline;
    float:right;
}

.noCircle .navbarIcon{
    display: block;
    position:relative;
    float:left;
}

.noCircle .navbarIcon img{
    margin-top:1vh;
    width:80%;
}

.noCircle li label .hideText{
    visibility:hidden;
}

.navbarIconImage{
    height:auto;
}

.selector{
    display:flex;
    justify-items: center;
    align-items: center;
}

.w-50{
    width:50%;
    margin-right:5vw;
}